extends layouts/default.pug

block head 
    title Trang Quản Lí

block main

    div(class="popupHistory orderHistory")
        div(class="popupHistory__wrap orderHistory__wrap")

            <i class="fa-solid fa-x popupHistory__cancel-button"></i>


            div(class="orderHistory__info")
                    h2(class="orderHistory__title") Lịch sử đơn hàng 
                    h3(class="orderHistory__subtitle") Kiểm tra các đơn hàng đã đặt

            div(class="orderHistory__list")


    div(class="adminSection1")
        div(class="container")
            div(class="adminSection1__wrap")
                div(class="adminSection1__left")
                    h3(class="adminSection1__title") Chức năng
                    ul(class="adminSection1__section") 
                        li 
                            button(type="submit" class="adminSection1__userListButton") Danh sách người dùng
                        li 
                            button(type="submit" class="adminSection1__repairButton") Đặt lịch bảo dưỡng
                        li 
                            button(type="submit" class="adminSection1__userListDriver") Danh sách tài xế
                        li 
                            button(type="submit" class="adminSection1__addDriverButton") Thêm tài xế
                        li 
                            button(type="submit" class="adminSection1__statistic") Thống kê
                div(class="adminSection1__right")
                    div(class="adminSection1__userList")
                        div(class="adminSection1__userCount")
                            span Tổng số người dùng: 
                            span 

                    div(class="adminSection1__addDriver")
                        
                        div(class="adminSection1__addDriverWrap")

                            div(class="adminSection1__addDriverLeft")
                                img(src="assets/images/kpi-lai-xe.png", alt="")


                            div(class="adminSection1__addDriverRight")
                                form(action="" class="adminSection1__addDriverForm")

                                    div(class="adminSection1__driverBasicInfo")
                                        label(for="adminSection1__driverName") Họ và tên
                                        input(type="text" id="adminSection1__driverName" class="adminSection1__driverName")

                                    div(class="adminSection1__driverBasicInfo")
                                        label(for="adminSection1__driverTel") Số điện thoại 
                                        input(type="tel" id="adminSection1__driverTel")

                                    div(class="adminSection1__driverBasicInfo")
                                        label(for="adminSection1__driverCarType") Loại xe 
                                        select(id="adminSection1__driverCarType")
                                            option(value="Xe khách") Xe khách 
                                            option(value="Xe tải") Xe tải 
                                            option(value="Xe container") Xe container   
                                    
                                    //- Xe khách
                                    div(class="adminSection1__type adminSection1__driverCarTypeCar")
                                        label(for="adminSection1__driverCarTypeCarSize") Kích thước
                                        select(id="adminSection1__driverCarTypeCarSize")
                                            option(value="Xe khách 16 chỗ") Xe khách 16 chỗ
                                            option(value="Xe khách 29 chỗ") Xe khách 29 chỗ
                                            option(value="Xe khách 35 chỗ") Xe khách 35 chỗ
                                            option(value="Xe khách 45 chỗ") Xe khách 45 chỗ

                                    //-Xe tải
                                    div(class="adminSection1__type adminSection1__driverCarTypeTruck")
                                        label(for="adminSection1__driverCarTypeTruckWeight") Tải trọng
                                        select(id="adminSection1__driverCarTypeTruckWeight")
                                            option(value="Xe tải nhẹ (dưới 3.5 tấn)") Xe tải nhẹ (dưới 3.5 tấn)
                                            option(value="Xe tải trung (3.5 - 8 tấn)") Xe tải trung (3.5 - 8 tấn)
                                            option(value="Xe tải nặng (trên 8 tấn)") Xe tải nặng (trên 8 tấn)

                                    //-Xe container
                                    div(class="adminSection1__type adminSection1__driverCarTypeContainer")
                                        label(for="adminSection1__driverCarTypeContainerSize") Kích thước
                                        select(id="adminSection1__driverCarTypeContainerSize")
                                            option(value="Xe container 10 feet") Xe container 10 feet   
                                            option(value="Xe container 20 feet") Xe container 20 feet   
                                            option(value="Xe container 40 feet") Xe container 40 feet   
                                            option(value="Xe container 45 feet") Xe container 45 feet   
                                            option(value="Xe container 50 feet") Xe container 50 feet   

                                    div(class="adminSection1__driverBasicInfo")
                                        label(for="adminSection1__driverLicense") Giấy phép lái xe 
                                        select(id="adminSection1__driverLicense")
                                            option(value="B2") B2 
                                            option(value="B") B 
                                            option(value="C1") C1 
                                            option(value="C") C 
                                            option(value="D1") D1 
                                            option(value="D2") D2 
                                            option(value="D") D    

                                    div(class="adminSection1__driverBasicInfo")
                                        label(for="adminSection1__driverCarId") Biển số xe 
                                        input(type="text" id="adminSection1__driverCarId")

                                    button(type="submit" id="add__Driver") THÊM TÀI XẾ

    
                    div(class="adminSection1__driverList")

                    div(class="adminSection1__statisticList")
                        div(class="adminSection1__statisticListWrap")

                            div(class="adminSection1__statisticSection")
                                div(class="adminSection1__statisticSectionList grid grid-cols-3 gap-[20px]")
                                    button(type="submit" class="adminSection1__statisticSectionItem") NGƯỜI DÙNG
                                    button(type="submit" class="adminSection1__statisticSectionItem") DOANH THU
                                    button(type="submit" class="adminSection1__statisticSectionItem") SỐ LƯỢT ĐẶT 

                            div(class="adminSection1__chart")
                                div(class="adminSection1__chartLeft")
                                    div(class="adminSection1__chartFunctionList")
                                        button(class="adminSection1__chartFunctionItem") THEO TUẦN
                                        button(class="adminSection1__chartFunctionItem") THEO NĂM
                                div(class="adminSection1__chartRight")
                                    canvas(id="myChart" class="")

                    div(class="adminSection1__repair")
                        div(class="adminSection1__repairWrap")  

                            h2(class="adminSection1__repairTitle")
                                <i class="fa-solid fa-screwdriver-wrench"></i>
                                span ĐẶT LỊCH BẢO DƯỠNG

                            form(action="" class="adminSection1__repairForm")

                                div(class="adminSection1__repairInfo")
                                    label(for="adminSection1__repairCar") 
                                        <i class="fa-solid fa-car"></i>
                                        span Chọn xe bảo dưỡng 
                                    select(name="" id="adminSection1__repairCair" class="adminSection1__repairCar") 
                                        //option(value="49F-696.69") 49F-696.69

                                div(class="adminSection1__repairCarInfo")
                                    h3(class="adminSection1__repairCarInfoTitle") Thông tin xe được bảo dưỡng 
                                    div(class="adminSection1__repairCarInfoList")
                                        div(class="adminSection1__repairCarLeft")
                                            div(class="adminSection1__repairCarType")
                                                div(class="adminSection1__repairCarImage")
                                                    img(src="", alt="") 
                                                    //Xe tải thì truyền hình xe tải, ô tô truyền hình ô tô and so on.
                                                div(class="adminSection1__repairCarDesc")
                                                    // Loại xe
                                                    span 
                                        div(class="adminSection1__repairCarRight")
                                            div(class="adminSection1__repairCarOwner")
                                                span Chủ sở hữu: 
                                                span 
                                            div(class="adminSection1__repairCarWeight")
                                                span Kích thước: 
                                                span 
                                            div(class="adminSection1__repairCarID")
                                                span Biển số xe:  
                                                span 

                                div(class="adminSection1__repairInfo")
                                    label(for="adminSection1__repairType") Loại bảo dưỡng
                                    select(name="" id="adminSection1__repairType" class="adminSection1__repairType") 
                                        option(value="Bảo dưỡng cơ bản") Bão dưỡng cơ bản
                                        option(value="Bảo dưỡng trung bình") Bảo dưỡng trung bình 
                                        option(value="Bảo dưỡng nặng") Bảo dưỡng nặng   
                                        
                                div(class="adminSection1__repairInfo")
                                    label(for="adminSection1__repairDate") Ngày bảo dưỡng
                                    input(type="date", name="" id="adminSection1__repairDate")  

                                button(type="submit" class="adminSection1__repairButtonSubmit") ĐẶT LỊCH 
                                

    script(type="module" src="assets/js/admin.js") 

                
        