extends layouts/default.pug

block head 
    title Lịch sử đơn hàng 

block main 

    div(class="orderHistory")
        div(class="container")
            div(class="orderHistory__wrap") 
                div(class="orderHistory__title") Lịch sử đơn hàng

                div(class="orderHistory__list")
                    
                    div(class="orderHistory__item")
                        div(class="orderHistory__intro")
                            div
                                span Mã đơn hàng: 
                                span 
                            div 
                                span Ngày đặt:
                                span 
                            div 
                                span Giá tiền: 
                                span

                        div(class="orderHistory__content")
                            div 
                                span Loại xe đặt: 
                                