extends layouts/default.pug

block head 
    title Trang Chủ 

block main

    div(class="giaodien")
        div(class="container")
            div(class="wrap")
                div(class="giaodien-title")
                    <h1>CHÀO</h1>
                    <h1>MỪNG ĐẾN</h1>
                    <h1>VỚI MEWING</h1>
                    <div class="line"></div>
                    <h3>Đồng hành trên mọi chuyến đi</h3>

    div(class="giaodien1")
        div(class="container")
            button.chucnang CHỨC NĂNG
            .phanloai
                button.doingu
                    p Đội ngũ tài xế 
                    p trên 3 năm kinh nghiệm
                    img(src="assets/images/1.png", alt="lỗi tải ảnh")
                button.doingu
                    p Gía cước biết trước
                    img(src="assets/images/2.png", alt="lỗi tải ảnh")
                button.doingu
                    p Kế hoạch chuyến
                    p đi chuyên nghiệp
                    img(src="assets/images/3.png", alt="lỗi tải ảnh")
                button.doingu
                    p Theo dõi tình
                    p trạng xe
                    img(src="assets/images/4.png", alt="lỗi tải ảnh")