doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="assets/css/style.css")
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        <script src="https://cdn.tailwindcss.com"></script>
        script(src="tailwind.config.js") 
        title Login And Register
    body 

        div(class="choosing__section")
            div(class="container w-[550px]")
                div(class = "choosing__wrap flex flex-col justify-center h-screen")
                    //-Choosing
                    div(class="flex text-[25px]")
                        button(type="click" id="login-option" class="inline-block bg-[#F0F0F0] hover:bg-[#0C131D] text-black hover:text-white border-r-[2px] border-b-[2px] border-black border-opacity-50 rounded-tl-[10px] p-[15px] ") Login
                        button(type="click" id="register-option" class="inline-block bg-[#F0F0F0] hover:bg-[#0C131D] text-black hover:text-white rounded-tr-[10px] border-b-[2px] border-black border-opacity-50 p-[15px]") Register
                    //-Login Section
                    div(id="login__section" class="login__section")
                        div(class="flex items-center")
                            div(class="flex flex-col items-center rounded-b-[20px] rounded-r-[20px] px-[50px] pb-[50px] pt-[50px] bg-[#F0F0F0]")
                                div(class="truncate rounded-[100px] aspect-square w-[30%] mb-[25px]")
                                    img(src="assets/images/MEWING.svg", alt="mewing-logo" class = "w-full")
                                h1(class="uppercase text-[35px] font-bold mb-[20px] text-center") Login Here 

                                div(class="flex justify-center w-full")
                                    form(action="" class="w-full flex flex-col")

                                        label(for="login-email" class="text-[18px] font-semibold mb-[15px]") Email
                                        div(class="relative mb-[20px]")
                                            input(id="login-email" type="email" name="" placeholder="sample@email.com" class="p-[12px] pl-[55px] outline-none bg-[#f0f0f0] border-[2px] border-black border-opacity-40 rounded-[20px] w-full text-[20px]")
                                            <i class="fa-solid fa-envelope absolute text-[20px] text-black opacity-60 top-[19px] left-[22px]"></i>
                                            button(type="click" class="delete-field") 
                                                <i class="fa-solid fa-xmark absolute text[20px] text-black opacity-60 top-[20px] right-[20px]"></i>
                                            
                                        label(for="login-password" class="text-[18px] font-semibold mb-[15px]") Password 
                                        div(class="relative mb-[40px]")
                                            input(id="login-password" type="password" name="" placeholder="Password" class="p-[12px] pl-[55px] outline-none bg-[#f0f0f0] border-[2px] border-black border-opacity-40 rounded-[20px] w-full text-[20px]")
                                            <i class="fa-solid fa-key absolute text-[18px] text-black opacity-60 top-[19px] left-[22px]"></i>
                                            button(type="click" class="delete-field") 
                                                <i class="fa-solid fa-xmark absolute text[20px] text-black opacity-60 top-[20px] right-[20px]"></i>
                                            
                                        button(id="login-submit" class="" type="submit")
                                            div(class="relative")
                                                div(class="text-[30px] text-white p-[15px] rounded-[20px] font-bold bg-[#0A131E]") Login
                                                <i class="fa-solid fa-right-to-bracket absolute text-white top-[23px] left-[130px] text-[30px]"></i>

                    //-Register Section
                    div(id="register__section" class="register__section")
                        div(class="flex items-center")
                            div(class="flex flex-col items-center rounded-b-[20px] rounded-r-[20px] px-[50px] pb-[50px] pt-[50px] bg-[#F0F0F0]")
                                div(class="truncate rounded-[100px] aspect-square w-[30%] mb-[25px]")
                                    img(src="assets/images/MEWING.svg", alt="mewing-logo" class = "w-full")
                                h1(class="uppercase text-[35px] font-bold mb-[20px] text-center") register

                                div(class="flex justify-center w-full")
                                    form(action="" class="w-full flex flex-col")
                                        label(for="register-username", class="text-[18px] font-semibold mb-[15px]") Username
                                        div(class="relative mb-[20px]")
                                            input(id="register-username" type="text" name="" class="p-[12px] pl-[55px] outline-none bg-[#f0f0f0] border-[2px] border-black border-opacity-40 rounded-[20px] w-full text-[20px]")
                                            <i class="fa-solid fa-user absolute text-[20px] text-black opacity-60 top-[19px] left-[22px]"></i>
                                            button(type="click" class="delete-field") 
                                                <i class="fa-solid fa-xmark absolute text[20px] text-black opacity-60 top-[20px] right-[20px]"></i>
                                            
                                        label(for="register-email" class="text-[18px] font-semibold mb-[15px]") Email
                                        div(class="relative mb-[20px]")
                                            input(id="register-email" type="email" name="" placeholder="sample@email.com" class="p-[12px] pl-[55px] outline-none bg-[#f0f0f0] border-[2px] border-black border-opacity-40 rounded-[20px] w-full text-[20px]")
                                            <i class="fa-solid fa-envelope absolute text-[20px] text-black opacity-60 top-[19px] left-[22px]"></i>
                                            button(type="click" class="delete-field") 
                                                <i class="fa-solid fa-xmark absolute text[20px] text-black opacity-60 top-[20px] right-[20px]"></i>
                                            
                                        label(for="register-password" class="text-[18px] font-semibold mb-[15px]") Password 
                                        div(class="relative mb-[40px]")
                                            input(id="register-password" type="password" name="" placeholder="Password" class="p-[12px] pl-[55px] outline-none bg-[#f0f0f0] border-[2px] border-black border-opacity-40 rounded-[20px] w-full text-[20px]")
                                            <i class="fa-solid fa-key absolute text-[18px] text-black opacity-60 top-[19px] left-[22px]"></i>
                                            button(type="click" class="delete-field") 
                                                <i class="fa-solid fa-xmark absolute text[20px] text-black opacity-60 top-[20px] right-[20px]"></i>
                                            
                                        button(id="register-submit" class="" type="submit")
                                            div(class="relative")
                                                div(class="text-[30px] text-white p-[15px] rounded-[20px] font-bold bg-[#0A131E]") Register
                                                <i class="fa-solid fa-right-to-bracket absolute text-white top-[23px] left-[130px] text-[30px]"></i>

        script(src="./assets/js/login_register.js")


                        
