extends layouts/default.pug

block head 
    title Tra cứu 

block main 


    div(class="search")
        div(class="container")
            div(class="search__wrap")
                div(class="search__tracking")
                    h2(class="search__title") Tra cứu đơn hàng
                    form(action="" class="search__form")
                        label(for="search__input") Hãy nhập vào mã đặt xe của bạn:
                        input(type="text" id="search__input") 
                        button(type="submit")
                            <i class="fa-solid fa-magnifying-glass"></i>

                div(class="search__result")
                    div(class="search__result-title") Thông tin chuyến đi

                    ul(class="search__result-list")