extends layouts/default.pug

block head 
    title Chỉnh sửa hồ sơ

block main 

    div(class="profile")
        
        div(class="container")

            div(class="profile__wrap")

                div(class="profile__main-title") chỉnh sửa hồ sơ

                div(class="profile__list")

                    div(class="profile__left") 

                        //- div(class="profile__avatar")
                        div(class="profile__image")
                            img(src="assets/images/default-avatar.svg", alt="")

                        h3(class="profile__usernameLeft") Username: <span></span>


                    div(class="profile__right")
                        
                        //- div(class="profile__content")

                        h3(class="profile__title") <i class="fa-solid fa-user"></i>tài khoản

                        form(action="" class="profile__form") 

                            div(class="profile__section grid grid-cols-2 gap-[40px]")

                                div(class="profile__info")
                                    label(for="profile__fullname" class="") họ và tên
                                    input(type="text" id="profile__fullname" class="")
                                
                                div(class="profile__info")
                                    label(for="profile__username" class="") tên tài khoản
                                    input(type="text" id="profile__username" class="")

                                div(class="profile__info")
                                    label(for="profile__email" class="") email 
                                    input(type="email" id="profile__email" class="" readonly)
                                    
                                div(class="profile__info")
                                    label(for="profile__tel" ) số điện thoại 
                                    input(type="tel" id="profile__tel") 
        
                            button(type="submit" class="profile__button") Lưu

                            //- div(class="profile__info")
                            //-     label(for="" class="") nơi sống
                            //-     i 


    script(type="module", src="assets/js/user-profile.js") 
