@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Be Vietnam Pro", sans-serif;
}

.header {
  background-color: #F9F5F0;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 0px;
  padding-left: 0px;
}
.header__logo img {
  height: 60px;
}
.header__menu {
  display: flex;
  flex: 1;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  margin-left: 10px;
  margin-right: 10px;
}
.header__title {
  margin-left: 20px;
  margin-right: 20px;
}
.header__title:hover {
  color: #7E60BC;
}
.header__button {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #7E60BC;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 20px;
  color: #F9F5F0;
  border-radius: 15px;
}
.header__button button {
  text-transform: capitalize;
}
.header__button:hover {
  background-color: #FFC0D9;
  color: black;
}

.product {
  background-color: #9F88C6;
}
.product__wrap {
  padding-top: 60px;
  padding-bottom: 60px;
}
.product__title {
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  color: #F9F5F0;
  margin-bottom: 50px;
}
.product__item {
  display: inline-flex;
  flex-direction: column;
  padding: 50px;
  background-color: #F9F5F0;
  border-radius: 40px;
}
.product__item-image {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  height: 200px;
}
.product__item-image img {
  width: 100%;
  object-fit: cover;
}
.product__item-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product__item-detail-title {
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.product__item-detail-desc {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}
.product__item-detail-desc span {
  font-weight: 700;
}
.product__item-detail-rating {
  text-align: center;
  font-size: 22px;
  color: #FFC94A;
}

.footer {
  margin-top: 0px;
  background-color: #574380;
}
.footer__wrap {
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer__announce {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9F88C6;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 30px;
  margin-top: -160px;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footer__announce-title {
  color: #F9F5F0;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 20px;
}
.footer__form {
  position: relative;
  display: flex;
  justify-content: center;
  width: 60%;
}
.footer__form input {
  width: 100%;
  padding: 25px;
  outline: none;
  background-color: #F9F5F0;
  border-radius: 30px;
}
.footer__form button {
  top: 8px;
  right: 8px;
  position: absolute;
  background-color: #9F88C6;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border-radius: 30px;
  padding: 15px;
}
.footer__form button i {
  margin-left: 5px;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  border-bottom: solid 1px #F9F5F0;
}
.footer__top-left {
  width: 50%;
  font-size: 16px;
}
.footer__top-left i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: #F9F5F0;
  border-radius: 100px;
  color: #9F88C6;
  margin-right: 10px;
  font-size: 16px;
}
.footer__top-left i:hover {
  background-color: #9F88C6;
  color: #F9F5F0;
}
.footer__top-left span {
  font-weight: 500;
}
.footer__top-left div {
  color: #F9F5F0;
  margin-bottom: 15px;
}
.footer__top-left div:last-child {
  margin-bottom: 0px;
}
.footer__top-right {
  width: 50%;
}
.footer__logo {
  background-color: #F9F5F0;
  padding: 10px;
  border-radius: 10px;
  width: 120px;
  margin-bottom: 20px;
}
.footer__desc {
  color: #F9F5F0;
  margin-bottom: 20px;
}
.footer__socials {
  font-size: 16px;
  color: white;
}
.footer__socials i {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #F9F5F0;
  color: #9F88C6;
  border-radius: 100px;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.footer__socials i:hover {
  color: #F9F5F0;
  background-color: #9F88C6;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.footer__bottom-left {
  font-size: 16px;
  color: #F9F5F0;
}
.footer__bottom-right {
  display: flex;
}
.footer__payment {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  margin-left: 10px;
  width: 65px;
}
.footer__payment img {
  object-fit: cover;
  height: 15px;
}

.comment {
  background-color: #F9F5F0;
}
.comment__wrap {
  padding-top: 80px;
  padding-bottom: 190px;
}
.comment__item {
  border: solid 1px rgba(0, 0, 0, 0.4);
  padding: 30px;
  border-radius: 30px;
}
.comment__guest {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.comment__guest i {
  color: #60D03D;
  margin-left: 8px;
}
.comment__rating {
  font-size: 18px;
  color: #FFC94A;
  margin-bottom: 8px;
}

.about {
  background-color: #F9F5F0;
  background: radial-gradient(circle at 10% 20%, rgb(236, 158, 248) 0%, rgb(131, 83, 241) 90.1%);
}
.about__wrap {
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48%;
}
.about__image {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 40px;
  background-color: #F9F5F0;
  margin-bottom: 20px;
}
.about__image img {
  width: 100%;
  object-fit: cover;
}
.about__socials {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
.about__socials i {
  display: inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  border-radius: 100px;
  align-items: center;
  color: #F9F5F0;
  background: radial-gradient(circle at 10% 20%, rgb(236, 158, 248) 0%, rgb(131, 83, 241) 90.1%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 15px;
}
.about__right {
  width: 48%;
}
.about__title {
  display: inline-block;
  border-radius: 20px;
  background: radial-gradient(circle at 10% 20%, rgb(236, 158, 248) 0%, rgb(131, 83, 241) 90.1%);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: white;
  padding: 10px 20px;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 40px;
}
.about__desc {
  color: #F9F5F0;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
}

.member {
  background-color: #F9F5F0;
}
.member__wrap {
  padding-top: 60px;
  padding-bottom: 170px;
}
.member__intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.member__title {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background: radial-gradient(circle at 10% 20%, rgb(236, 158, 248) 0%, rgb(131, 83, 241) 90.1%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
  text-align: center;
  color: #F9F5F0;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.member__sub-title {
  color: #F9F5F0;
  text-align: center;
  text-align: justify;
}
.member__item {
  width: 100%;
  padding: 30px;
  background-color: white;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.member__item-image {
  border-radius: 30px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}
.member__item-image img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.member__item-name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}
.member__item-desc {
  margin-bottom: 13px;
}
.member__item-socials {
  font-size: 16px;
}
.member__item-socials i {
  display: inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  border-radius: 100px;
  align-items: center;
  color: #F9F5F0;
  background: radial-gradient(circle at 10% 20%, rgb(236, 158, 248) 0%, rgb(131, 83, 241) 90.1%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-right: 15px;
}

.auth__section {
  height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
}
.auth__container {
  display: flex;
  justify-content: center;
}
.auth__wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 550px;
}
.auth__choosing {
  width: 550px;
  display: inline-flex;
  font-size: 25px;
}
.auth__choosing-button {
  display: inline-block;
  border-color: #000000;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  color: #000000;
  background: #F0F0F0;
  padding: 15px;
  font-size: 25px;
  font-family: "Be Vietnam Pro", sans-serif;
}
.auth__choosing-button:first-child {
  border-radius: 10px 0px 0px 0px;
}
.auth__choosing-button:last-child {
  border-radius: 0px 10px 0px 0px;
}
.auth__choosing-button:hover {
  color: #ffffff;
  background: #0C131D;
}
.auth__info-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 20px 20px 20px;
  padding: 50px;
  background-color: #F0F0F0;
}
.auth__logo {
  overflow: hidden;
  border-radius: 100px;
  aspect-ratio: 1/1;
  width: 30%;
  margin-bottom: 25px;
}
.auth__logo img {
  object-fit: cover;
  width: 100%;
}
.auth__title {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
}
.auth__info {
  display: flex;
  justify-content: center;
  width: 100%;
}
.auth__info-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.auth__info-form label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}
.auth__input {
  position: relative;
  margin-bottom: 20px;
  display: flex;
}
.auth__input input {
  display: block;
  padding: 12px;
  padding-left: 55px;
  outline: none;
  background-color: #F0F0F0;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  width: 100%;
  font-size: 20px;
}
.auth__input button {
  padding: 0;
  border: 0;
}
.auth__right-icon {
  position: absolute;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  top: 19px;
  left: 22px;
}
.auth__left-icon {
  position: absolute;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6);
  top: 20px;
  right: 20px;
}
.auth__submit {
  margin-top: 20px;
  padding: 0;
  border: 0;
}
.auth__submit-wrap {
  position: relative;
}
.auth__submit-title {
  font-size: 30px;
  color: white;
  padding: 15px;
  border-radius: 20px;
  font-weight: 700;
  background-color: #0A131E;
}
.auth__submit-icon {
  position: absolute;
  color: white;
  top: 23px;
  left: 120px;
  font-size: 30px;
}

.car {
  background: radial-gradient(circle at 10% 20%, rgb(236, 158, 248) 0%, rgb(131, 83, 241) 90.1%);
  padding-top: 80px;
  padding-bottom: 190px;
}
.car__wrap {
  background-color: #F9F5F0;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.car__title {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #7E60BC;
  color: #F9F5F0;
}
.car__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
}
.car__image {
  width: 48%;
}
.car__form {
  width: 48%;
}
.car__form label {
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}
.car__form input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 30px;
  outline: none;
}
.car__form select {
  width: 100%;
  padding: 10px 20px;
  border-radius: 30px;
  outline: none;
}
.car__info {
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
}
.car__info i {
  position: absolute;
  top: 50px;
  right: 25px;
}
.car__price {
  display: none;
  margin-top: 30px;
  font-weight: 700;
  font-size: 20px;
}
.car__price span {
  color: green;
}
.car__submit {
  margin-top: 20px;
  font-size: 22px;
  font-weight: 700;
  color: #F9F5F0;
  background-color: #7E60BC;
  padding: 10px 20px;
  border-radius: 30px;
}

.profile {
  background: radial-gradient(circle at 10% 20%, rgb(236, 158, 248) 0%, rgb(131, 83, 241) 90.1%);
  padding-top: 80px;
  padding-bottom: 190px;
}
.profile__wrap {
  background-color: #F9F5F0;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.profile__main-title {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #7E60BC;
  color: #F9F5F0;
}
.profile__list {
  display: flex;
}
.profile__left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  padding-top: 40px;
  padding-bottom: 40px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
}
.profile__left img {
  width: 100%;
  object-fit: cover;
}
.profile__left h3 {
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: 700;
}
.profile__left h3 span {
  font-weight: 400;
}
.profile__image {
  aspect-ratio: 1/1;
  width: 50%;
  overflow: hidden;
  margin-bottom: 30px;
}
.profile__socials i {
  display: inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  border-radius: 100px;
  align-items: center;
  color: #F9F5F0;
  background: radial-gradient(circle at 10% 20%, rgb(236, 158, 248) 0%, rgb(131, 83, 241) 90.1%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: 15px;
}
.profile__right {
  width: 75%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 50px;
  padding-right: 50px;
  text-transform: capitalize;
}
.profile__form {
  display: flex;
  flex-direction: column;
}
.profile__title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 40px;
}
.profile__title i {
  margin-right: 5px;
}
.profile__section {
  margin-bottom: 60px;
}
.profile__info {
  font-size: 18px;
  font-weight: 600;
}
.profile__info label {
  display: block;
  margin-bottom: 8px;
}
.profile__info input {
  outline: none;
  width: 100%;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px;
}
.profile__button {
  background-color: #9F88C6;
  color: #F9F5F0;
  padding: 10px 30px;
  border-radius: 30px;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

#register__section {
  display: none;
}

#login__section {
  display: block;
}

/*# sourceMappingURL=style.css.map */
