doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="assets/css/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css")
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="tailwind.config.js"> </script>

        block head
        
    body 

        //- Header
        div(class="header")
            div(class="container")
                div(class="header__wrap")
                    div(class="header__logo")
                        img(src="assets/images/logo.png", alt="")
                    div(class="header__menu")
                        div(class="header__title") 
                            a(href="") trang chủ
                        div(class="header__title")
                            a(href="") loại xe
                        div(class="header__title")
                            a(href="") giới thiệu
                    div(class="header__button") 
                        button(type="submit") đăng nhập

        block main

        //- Footer
        div(class="footer")
            div(class="container")
                div(class="footer__wrap")

                    div(class="footer__top")

                        div(class="footer__top-left")
                            div(class="footer__location")
                                <i class="fa-solid fa-location-dot"></i>
                                span 268 Lý Thường Kiệt, Phường 14, Quận 10, TP. HCM 
                            div(class="footer__location")
                                <i class="fa-solid fa-location-dot"></i>
                                span Khu phố Tân Lập, Phường Đông Hòa, TP. Dĩ An, Tỉnh Bình Dương 
                            div(class="footer__telephone")
                                <i class="fa-solid fa-phone"></i>
                                span 0865127514
                            div(class="footer__telephone")
                                <i class="fa-solid fa-phone"></i>
                                span 0819133820
                            div(class="footer__email")
                                <i class="fa-solid fa-envelope"></i>
                                span mewing@gmail.com

                        div(class="footer__top-right")
                            div(class="footer__logo")
                                img(src="assets/images/logo.png", alt="")
                            div(class="footer__desc")
                                p Chúng tôi luôn đưa ra các giải pháp tốt nhất về phương tiện di chuyển cho khách hàng. Luôn luôn là sự lựa chọn hàng đầu của khách hàng trong việc chọn các đơn vị vận chuyển. Luôn đứng đầu về sự uy tín và sắc bén.
                            div(class="footer__socials")
                                a(href="") <i class="fa-brands fa-facebook-f"></i>
                                a(href="") <i class="fa-brands fa-x-twitter"></i>
                                a(href="") <i class="fa-brands fa-tiktok"></i>
                                a(href="") <i class="fa-brands fa-instagram"></i>

                    div(class="footer__bottom")
                        div(class="footer__bottom-left") MEWING © 2024, All Rights Reserved
                        div(class="footer__bottom-right") 
                            div(class="footer__payment")
                                img(src="assets/images/Visa.png", alt="")
                            div(class="footer__payment")
                                img(src="assets/images/Mastercard.png", alt="")
                            div(class="footer__payment")
                                img(src="assets/images/Paypal.png", alt="")
                            div(class="footer__payment")
                                img(src="assets/images/ApplePay.png", alt="")
                            div(class="footer__payment")
                                img(src="assets/images/GPay.png", alt="")



